@(key: Long, sampleForm: Form[Sample])
@import helper._ 
@import helper.twitterBootstrap._

@main(if(key != null) "update sample" else "new sample") {
        
	<h3>@if(key != null) { update sample } else { new sample } </h3>

    @form(if(key != null) { play.utils.crud.routes.RouterCrudController.update("Sample", sampleForm.get().getKey() + "") } 
          else            { play.utils.crud.routes.RouterCrudController.create("Sample") }) { 
        
        @inputText(sampleForm("name"), args = '_label -> "name")
        <div>
           <input type="submit" class="btn btn-success" value="@if(key != null) { Update } else { Create }">
        </div>
    }
}
