@(key: Long, taxiForm: Form[mef.validate.TaxiTwixt], fieldL:ArrayList[play.utils.meta.FieldMetadata])
@import helper._ 

@main(if(key != null) "update taxi" else "new taxi") {
        
	<h3>@if(key != null) { update taxi } else { new taxi } RTT</h3>

    @form(if(key != null) { play.utils.crud.routes.RouterCrudController.update("Taxi", key.toString() + "") } 
          else            { play.utils.crud.routes.RouterCrudController.create("Taxi") }) { 
        
	    @for(field <- fieldL) {        
	        <div>B
			@field.getWidget.render(taxiForm)
	        </div>
        }
        <div>
           <input type="submit" class="btn btn-success" value="@if(key != null) { Update } else { Create }">
        </div>
    }
}
