@(page: com.avaje.ebean.Page[Taxi])
@import helper._ 
@import helper.twitterBootstrap._



@main("list") {

	<h3>@page.getTotalRowCount() objects</h3>
	
    @if(page.getTotalRowCount() == 0) {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    } else {
	
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="header">name</th>
                <th class="header">random value</th>
            </tr>
        </thead>
        <tbody>
        @for(sample <- page.getList()) {
            <tr>
                <td>
                @util.linkShow(sample.getKey(), sample)
               	</td>
                <td>
                	@sample.getName()
               	</td>
                <td>
                	@sample.getSize()
               	</td>
                <td>
                	@sample.getStartDate()
               	</td>
                <td>
                	@sample.getIsAdmin()
               	</td>
                <td>
                	@sample.getAccountTypeId()
               	</td>
                <td>
                @util.linkEdit(sample.getKey(), sample)
                @util.linkDelete(sample.getKey(), sample)
               	</td>
            </tr>
        }
        </tbody>
    </table>
    
    }
}
