@(key: Long, simpleForm: Form[Simple])
@import helper._ 

@main(if(key != null) "update simple" else "new simple") {
        
	<h3>@if(key != null) { update simple } else { new simple } </h3>

    @form(if(key != null) { play.utils.crud.routes.RouterCrudController.update("Simple", simpleForm.get().getKey() + "") } 
          else            { play.utils.crud.routes.RouterCrudController.create("Simple") }) { 
        
        @inputText(simpleForm("name"), args = '_label -> "name")
        <div>
           <input type="submit" class="btn btn-success" value="@if(key != null) { Update } else { Create }">
        </div>
    }
}
